.tablero, tr, td {
    border-collapse: collapse;
    background-color: white;
}

.tablero {
    border: 4px black solid;
}

tr, td {
    border: 2px black solid;
}

.fila-gruesa {
    border-top: 4px black solid;
}

.celda {
    width: 25px;
    height: 25px;
}

.celda-gruesa {
    border-left: 4px black solid;
}

.cuadro {
    background-color: #313131;
}

.equis {
    position: relative;
}

.equis::before, .equis::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 4px;
    background-color: black;
    border-radius: 20%;
    bottom: 10px;
}

.equis:before{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.equis:after{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
